@use '../variables/fonts' as *;
@use 'sass:map';

@mixin addFont(
  $font-name,
  $font-type: 'Regular',
  $font-style: 'normal') {
    $font-weight: map.get($weight-map, $font-type);

    @if $font-weight == null {
      $font-weight: 400;
    }

    // prettier-ignore
    /* stylelint-disable */
    @font-face {
      src:
        url($fonts-path + '/' + $font-name + '-' + $font-type + '.woff2') format('woff2'),
        url($fonts-path + '/' + $font-name + '-' + $font-type + '.woff') format('woff'),
        url($fonts-path + '/' + $font-name + '-' + $font-type + '.ttf') format('truetype');
      font-family: $font-name;
      font-weight: $font-weight;
      font-style: $font-style;
      font-display: swap;
    }
    /* stylelint-enable */
}
