# app

# APP_HOST= if docker: 0.0.0.0 else 127.0.0.1
APP_HOST=
APP_PORT=
APP_DB_ENGINE=
PUBLIC_URL=

# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=
# POSTGRES_HOST= if docker: db else localhost
