$theme-light: (
  color-white: #FFFFFF,

  color-accent: #0066CC,
  color-accent-2: #ECF4FD,
  color-accent-3: #AAB9ED,

  color-orange: #EF8062,
  color-orange-2: #F8BF95,

  color-yellow: #F8DA75,

  color-text-accent: #0066CC,
  color-text-accent-2: #ECF4FD,
  color-text-dark: #333333,
  color-text-light: #A0A0A4,
  color-text-ultralight :#C6C6CC,

  color-text-regular: #585F66,

  shadow-md: 0px 4px 15px 0px #694E4B24,

  gradient-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
);

//TODO: актулизировать цвета под темную тему

$theme-dark: (
  color-white: #FFFFFF,

  color-accent: #0066CC,
  color-accent-2: #ECF4FD,
  color-accent-3: #AAB9ED,

  color-orange: #EF8062,
  color-orange-2: #F8BF95,

  color-yellow: #F8DA75,

  color-text-accent: #0066CC,
  color-text-accent-2: #ECF4FD,
  color-text-dark: #333333,
  color-text-light: #A0A0A4,
  color-text-ultralight: #C6C6CC,

  color-text-regular: #585F66,

  shadow-md: 0px 4px 15px 0px #694E4B24,

  gradient-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
);
