@use '../../../styles/helpers/functions/color';

.ui-button {
	display: flex;
	align-items: center;
	border-radius: 4px;
	font-size: 48px;
	line-height: 1;
	color: var(--color-text);
	transition: background-color 0.2s ease;

	&__postfix {
		margin-left: 10px;
	}

	&--primary {
		color: var(--color-text-button);
		background-color: var(--color-primary);

		&:hover {
			background-color: color.darken(var(--color-primary), 10);
		}
	}

	&--secondary {
		border: 1px solid var(--color-primary);
		color: var(--color-primary);
	}

	&--text {
		font-size: 14px;
	}

	&--m {
		font-size: 12px;
		padding: 8px 12px;
	}

	&--l {
		padding: 12px 18px;
	}
}
