@use 'global';
@use 'fonts';
@use 'glass';
@use 'element-overrides';

[id^='__MF_'],
#app {
	font-family: 'Inter', sans-serif;
	color: var(--gp-text-main);
	background-color: transparent !important;
}
