@use 'reset';
@use 'helpers/mixins/color' as color;
@use 'helpers/variables/colors' as *;
@use 'fonts';

:root {
	@include color.generate-css-vars($theme-light);
}

[data-theme='dark'] {
	@include color.generate-css-vars($theme-dark);
}

html {
	font-family: 'Raleway', sans-serif;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
}
