@use 'reset';
@use 'helpers/mixins/color' as color;
@use 'helpers/variables/colors' as *;
@use 'helpers/variables/fonts' as font;
@use 'fonts';
@use "helpers/mixins/typography" as c;

:root {
	@include color.generate-css-vars($theme-light);
}

[data-theme='dark'] {
	@include color.generate-css-vars($theme-dark);
}

html {
	font-family: font.$font-family-raleway, sans-serif;
}

body {
	color: var(--color-text-dark);
	background-color: var(--color-white);
}
