@use 'reset';
@use 'helpers/mixins/color' as *;
@use 'helpers/variables/colors' as *;
@use 'helpers/variables/fonts' as *;
@use 'fonts';

:root {
	@include generate-css-vars($theme-light);

	--transition-duration-primary: 0.3s;
	--transition-duration-secondary: 0.22s;
}

[data-theme='dark'] {
	@include generate-css-vars($theme-dark);
}

html {
	font-family: $font-family-raleway, sans-serif;
}

body {
	color: var(--color-text-dark);
	background-color: var(--color-white);
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;

  @include responsive-max(xs) {
    padding: 0 15px;
  };
}
