$theme-light: (
  bg-primary: #FFFFFF,
  bg-primary-two: #0066CC,
  bg-primary-three : #ECF4FD,
  bg-primary-four: #F8BF95,
  bg-primary-five: #EF8062,
  bg-primary-six: #AAB9ED,
  bg-primary-seven: #F8DA75,

  color-primary: #333333,
  color-primary-two: #A0A0A4,
  color-primary-three :#C6C6CC,
  color-primary-four: #C6C6CC,
  color-primary-blue: #0066CC,

  btn-gradian-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
  btn-border-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
  btn-bg-primary: #764678,
);

//TODO: актулизировать цвета под темную тему

$theme-dark: (
  bg-primary: #FFFFFF,
  bg-primary-two: #0066CC,
  bg-primary-three : #ECF4FD,
  bg-primary-four: #F8BF95,
  bg-primary-five: #EF8062,
  bg-primary-six: #AAB9ED,
  bg-primary-seven: #F8DA75,

  color-primary: #333333,
  color-primary-two: #A0A0A4,
  color-primary-three :#C6C6CC,
  color-primary-four: #C6C6CC,
  color-primary-blue: #0066CC,

  btn-gradian-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
  btn-border-primary: conic-gradient(from 180deg at 50% 50%, #8E2DBC 0deg, #FFC5BD 120deg, #DB7AE3 240deg, #0066CC 360deg),
  btn-bg-primary: #764678,
);
