@use 'reset';
@use 'helpers/mixins/variables' as mVariables;
@use 'variables' as *;
@use 'fonts';

:root {
	@include mVariables.generate-css-vars($theme-light);
}

[data-theme='dark'] {
	@include mVariables.generate-css-vars($theme-dark);
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
}
